<h2>Welcome</h2>

<p>In this course, you will build your own OpenStack cluster, and
  learn how to operate it according to current industry best
  practices. Each topic includes lab exercises, where you will have
  the opportunity to apply your knowledge in a realistic
  environment.</p>

<p>At the end of the course you will</p>
<ul>
  <li>Have a deep understanding of the fundamental ideas of cloud
    computing;</li>
  <li>Know how OpenStack's various components work and interact
    together;</li>
  <li>Understand OpenStack's project structure and history;</li>
  <li>Know how to operate, manage, and run a basic OpenStack
    Infrastructure-as-a-Service platform.</li>
</ul>

<p>You will initially deploy an OpenStack cluster using the
OpenStack <a href="https://releases.openstack.org/pike/index.html"
target="_blank">Pike</a> release, and then do a complete rolling
upgrade to
OpenStack <a href="https://releases.openstack.org/queens/index.html"
target="_blank">Queens</a>.  And you get to try your hands on the
freshly released
OpenStack <a href="https://releases.openstack.org/rocky/index.html"
target="_blank">Rocky</a> in a special bonus lab!</p>

<p>All you need to complete this course is internet access and a web
browser.</p>

<p>To get started, click on <a href="/jump_to_id/openstack_introduction_part_1">Introduction to OpenStack, Part 1</a>.</p>

