<section class="about">
  <h2>About This Course</h2>

  <p>The <strong>OpenStack Deployment and Operations</strong> course
     is our self-paced basic course for fundamental OpenStack
     knowledge. It is the base for all our other OpenStack training
     modules and will enable you to deeply understand the basic ideas
     behind OpenStack and the general structure of the platform.</p>

  <p>This course has a total of 38 <strong>units</strong>, out of
     which 16 are interactive <strong>lab exercises</strong>. Lab
     exercises vary from about 30 to 90 minutes in length. Overall, it
     is possible to complete the entire course in a matter of 2-3 days
     in one go, but we recommend to spread out your lessons: for best
     results, plan to do about 2-3 units, including one lab, every day
     or every other day. If you follow that recommendation, you will
     complete the course in about 2-4 weeks — but if a different
     schedule suits you better, go with what works best for you!</p>

</section>

<section class="prerequisites">
  <h2>Objectives</h2>
  <p>In this course, you will build your own OpenStack cluster, and
  learn how to operate it according to current industry best
  practices.</p>
  <p>At the end of the course you will</p>
  <ul>
    <li>Have a deep understanding of the fundamental ideas of cloud
      computing;</li>
    <li>Know how OpenStack's various components work and interact
      together;</li>
    <li>Understand OpenStack's project structure and history;</li>
    <li>Know how to operate, manage, and run a basic OpenStack
    Infrastructure-as-a-Service platform.</li>
  </ul>
  <p>You will initially deploy an OpenStack cluster using the
  OpenStack <a href="https://releases.openstack.org/pike/index.html"
  target="_blank">Pike</a> release, and then do a complete rolling
  upgrade to
  OpenStack <a href="https://releases.openstack.org/queens/index.html"
  target="_blank">Queens</a>.  And you get to try your hands on the
  freshly released
  OpenStack <a href="https://releases.openstack.org/rocky/index.html"
  target="_blank">Rocky</a> in a special bonus lab!</p>
</section>

<section class="course-staff">
  <h2>Course Staff</h2>
  <article class="teacher">
    <div class="teacher-image">
      <img src="/static/images/florian_haas.jpg" align="left" style="margin:0 20 px 0" alt="Florian Haas">
    </div>

    <h3>Florian Haas</h3>

    <p>Drawing from a decade of experience in open source technology,
    Florian is among the most renowned OpenStack experts in the
    world. He has worked with customers of all sizes and markets, and
    is a frequent conference speaker.</p>
  </article>

  <article class="teacher">
    <div class="teacher-image">
      <img src="/static/images/adolfo_brandes.jpg" align="left" style="margin:0 20 px 0" alt="Adolfo Brandes">
    </div>

    <h3>Adolfo Brandes</h3>
    <p>Adolfo is a Senior Consultant an instructor specializing in OpenStack
    deployment, contribution, and community involvement.  As an open-source
    veteran with a decade-long background in software development, Adolfo
    joined hastexo from Upstream University, a program where he showed the
    ropes to aspiring open-source and free software developers. He is
    passionate about open source and understands there's no better way to
    develop software.</p>
  </article>
</section>

<section class="faq">
  <section class="responses">
    <h2>Frequently Asked Questions</h2>
    <article class="response">
      <h3>Do I need to download or install anything?</h3>
      <p>No, all course material will be delivered on demand to your device via a web browser or edX app.  Labs will be conducted online as well.</p>
    </article>

     <article class="response">
       <h3>What web browser should I use?</h3>
       <p>The Open edX platform works best with current versions of Chrome, Firefox or Safari, or with Internet Explorer version 9 and above.</p>
     </article>
  </section>
</section>
